<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn1.goibibo.com/voy_ing/t_g/83b1b64efddc11e482795ee5da2daa2a.jfif" class="card-img-top rounded mx-auto d-block set-image">
                <div class="card-body">
                    <h3 class="card-title">Clarks Inn</h3>
                    <p class="card-text">Address: </p>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Price: </p>
                    <button class="btn btn-primary">Book Now !!</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn1.goibibo.com/voy_ing/t_g/83b1b64efddc11e482795ee5da2daa2a.jfif" class="card-img-top rounded mx-auto d-block set-image">
                <div class="card-body">
                    <h3 class="card-title">Clarks Inn</h3>
                    <p class="card-text">Address: </p>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Price: </p>
                    <button class="btn btn-primary">Book Now !!</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn1.goibibo.com/voy_ing/t_g/83b1b64efddc11e482795ee5da2daa2a.jfif" class="card-img-top rounded mx-auto d-block set-image">
                <div class="card-body">
                    <h3 class="card-title">Clarks Inn</h3>
                    <p class="card-text">Address: </p>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Price: </p>
                    <button class="btn btn-primary">Book Now !!</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn1.goibibo.com/voy_ing/t_g/83b1b64efddc11e482795ee5da2daa2a.jfif" class="card-img-top rounded mx-auto d-block set-image">
                <div class="card-body">
                    <h3 class="card-title">Clarks Inn</h3>
                    <p class="card-text">Address: </p>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Price: </p>
                    <button class="btn btn-primary">Book Now !!</button>
                </div>
            </div>
        </div>
    </div>
</div>
