<!-- main -->
<div class="container">
    <div class="main-w3layouts wrapper">
        <h1>SignUp Form</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="#" method="post">
                    <input class="text" type="text" name="Username" placeholder="Name" required="">
                    <input class="text w3lpass" type="text" name="password" placeholder="Mobile No." required="">
                    <input class="text w3lpass" type="text" name="password" placeholder="Email" required="">
                    <input class="text w3lpass" type="text" name="password" placeholder="Address" required="">
                    <input class="text w3lpass" type="text" name="password" placeholder="Username" required="">
                    <input class="text w3lpass" type="text" name="password" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                    <input type="submit" value="SIGNUP">
                </form>
                <p>Already have an Account? <a routerLink="/login"> Login Now!</a></p>
            </div>
        </div>
    </div>
</div>

<!-- //main -->